body{
    display: flex;
    justify-content: center;
    align-items: center;
}

.post{
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;


    
}

.post-header{
    display: flex;
    padding: 10px;
    
    
}

.left {
    justify-content: flex-start;
    flex-basis: 10%;
    padding: 10px;
    font-size: 100%;
}
.right {
    justify-content: flex-end;
}


.post-img{
    width: 100%;
    flex-basis: 80%;
    align-self: center;

}

img {
    width:auto


}