body{
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}




.cajapadre {
    background:black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:30px;

}

.caja1 {
    width: 400px;
    height: 500px;
    display: flex;
    flex-direction: column;
    background-color: white;
    margin: 30px 0 0 0;
}

.navbar {
    
    justify-content: space-between;
    padding: 10px;
    font-size: 80%;
    display:flex;
    margin-right: 20px;

}
.Rigoberto {
    
    display:flex;
    flex-direction: column;
    margin-left: 5px;
}
.Rigoberto p {
    margin:0;

}

.titulo2 {
    justify-content: flex-end;
    margin-left: auto;

}
.option {
    justify-content: ;
    color: black;
}

.pic {
    width: 100%;
    height:100%;
    flex-basis: 80%;
    overflow: auto;
}

.img {
    width: 100%;
    height: 100%;
    object-fit:cover;

}
.post-body {
    margin:8px;

}
.coment {
    flex-basis: 10%;
    margin:5px;

    font-size: 80%;

}

 p {
    margin-top: 3px;
    margin-bottom: 3px;
    

}
.icons {
    
    display: flex;
    justify-content: space-between;

}

.right{
    justify-content: flex-end;
   margin-left: auto;

}

.icono1 {
    display:flex;
    align-items: center;
    font-size: 30px;
    
}